{% extends 'base.html.twig' %}

{% block title %}Vynil{% endblock %}

{% block body %}
    {% for disque in disques %}


            <div class="posCard">
            <div class="card mb-3 filter" style="max-width: 80%;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img class="img-fluid p10" src="{{asset('/images/imgDisc/'~ disque.image)}}" alt="#">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h2 class="card-title">{{disque.artiste.nom}}</h2>
                            <h3>{{disque.title}}</h3>
                            <h4 class="card-title">{{disque.subtitle}}</h4>
                            <p class="card-text">{{disque.description}}</p>
                            <div class="prixPanier">
                                <p class="mr5">Prix :</p>
                                <p>{{ disque.price|number_format(2, '.', '') }}</p>
                                <p class="mr20">€</p>
                                <button class="shopBtn hidden"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #63E6BE;"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endblock %}
