{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="posCard">
        <div class="cards">
            <div class="card-body">
                <h1 class="card-title text-center">Inscription</h1>
                {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm) }}
                <p class="card-text">{{ form_row(registrationForm.email) }}</p>
                <p class="card-text">{{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}</p>
                <div class="text-center">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                <p class="text-center">Vous avez deja un compte ? <a href="#" class="card-link">connecter vous !</a></p>
            </div>
            <button type="submit" class="btn btn-danger">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
