{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="posCard">
        <div class="cards">
            <div class="card-body">
                <h1 class="card-title text-center text-white">Inscription</h1>
                {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm) }}
                <p class="card-text">{{ form_row(registrationForm.name) }}</p>
                <p class="card-text">{{ form_row(registrationForm.Surname) }}</p>
                <p class="card-text">{{ form_row(registrationForm.email) }}</p>
                <p class="card-text">{{ form_row(registrationForm.plainPassword.first) }}</p>
                <p class="card-text">{{ form_row(registrationForm.plainPassword.second) }}</p>
                <div class="text-center">
                    {{ form_label(registrationForm.agreeTerms) }}
                    {{ form_widget(registrationForm.agreeTerms) }}
                </div>
                <p class="text-center text-white">Vous avez deja un compte ? <a href="{{path('app_login')}}" class="card-link">connecter vous !</a></p>
            </div>
            <div class="posBtn">
                <button type="submit" class="btn btn btn-success">S'inscrire</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
