
{% extends 'base.html.twig' %}

{% block title %}Vinyl Paradise - ShowVinyl{% endblock %}

{% block body %}
        <img class="img-fluid p10 mx-auto d-block" src="{{ asset('/images/imgDisc/' ~ disque.image) }}" alt="#">
        <h1 class="text-center text-danger">{{disque.artiste.nom}}</h1>
        <h2 class="text-center text-success">{{disque.title}}</h2>
        <h3 class="text-center text-warning">{{disque.subtitle}}</h3>
        {% if disque.genre is iterable and disque.genre|length > 0 %}
            {% set genres = [] %}
            {% for genre in disque.genre %}
                {% set genres = genres|merge([genre.nom]) %}
            {% endfor %}
            <h5 class="card-title text-center text-info">{{ genres|join(', ') }}</h5>
        {% endif %}
        <div class="d-flex justify-content-center">
            <p class="text-white text-center mt-3" style="width: 80%;">{{disque.description}}</p>
        </div>
        <div class="prixPanier">
            <p class="mr5 text-white mt-3">Prix :</p>
            <p class="text-white mt-3">{{ disque.price|number_format(2, '.', '') }}</p>
            <p class="mr20 text-white mt-3">€</p>
            {% if app.user %}
                {% if disque.quantity > 0 %}
                    <form action="{{ path('add', {'id': disque.id}) }}" method="post">
                        <input class="" type="number" name="quantity" min="1" max="{{ disque.quantity }}" value="1">
                        <button type="submit" class="shopBtn text-white btnStyle"><i class="fa-solid fa-cart-shopping fa-xl" style="color: #D02A2A;"></i></button>
                        </form>
                    {% endif %}
            {% endif %}
        </div>
        {% if disque.quantity <= 3 %}
            <p class="card-text text-center text-danger">Quantité restante : {{ disque.quantity }}</p>
        {% endif %}
        <div class="posBtn mt-3 mb-3">
            <a href="{{path('app_vinyl')}}" class="btn btn-danger ms-4">Retour au disque</a>
        </div>


<div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2 test">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{{ asset('/images/imgDisc/' ~ disque.image) }}" />
      </div>
      {# <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
      </div> #}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div thumbsSlider="" class="swiper mySwiper test">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{{ asset('/images/imgDisc/' ~ disque.image) }}" />
      </div>
      {# <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
      </div>
      <div class="swiper-slide">
        <img src="https://swiperjs.com/demos/images/nature-10.jpg" />
      </div> #}
    </div>
  </div>
    {% endblock %}
