{% extends 'base.html.twig' %}

{% block title %}Vynil{% endblock %}

{% block body %}
    {% for disque in disques %}
        <div style="display: inline-block;">
            <div class="card cardBorder cardSize">
                {% if disque.quantity == 0 %}
                    <img class="soldOut" src="{{ asset('/images/soldOut.png') }}" alt="Sold Out">
                {% endif %}
                <img class="img-fluid p10" src="{{ asset('/images/imgDisc/' ~ disque.image) }}" alt="#">
                <div class="card-body">
                    <h5 class="card-title text-center text-danger">{{ disque.artiste.nom }}</h5>
                    <h5 class="card-title text-center text-success">{{ disque.title }}</h5>
                    <div class="posBtn mt-3 mb-3">
                        <a href="{{path('app_vinyl_show', {'id' : disque.id})}}"{% if disque.quantity == 0 %} style="display: none;"{% endif %}><button class="btn btn-success">Voir le disque</button></a>
                    </div>
                    {% if disque.quantity <= 3 %}
                        <p class="card-text text-center text-danger">Quantité restante : {{ disque.quantity }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
